automation/morning_brief.json
{
  "name": "Ultron — Morning Brief",
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 7 * * *" }] }
      },
      "id": "schedule",
      "name": "07:00 Daily",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.ULTRON_BACKEND }}/api/brief",
        "options": {}
      },
      "id": "brief",
      "name": "Ultron Brief",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [480, 300]
    },
    {
      "parameters": {
        "channel": "#daily",
        "text": "={{ $json.brief }}"
      },
      "id": "slack",
      "name": "Post to Slack",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [720, 300]
    }
  ],
  "connections": {
    "07:00 Daily": { "main": [[{ "node": "Ultron Brief", "type": "main", "index": 0 }]] },
    "Ultron Brief": { "main": [[{ "node": "Post to Slack", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {}
}
